* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  color: var(--color-text-1);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-2);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
