.itemContainer {
  padding: 8px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.itemContainer:hover {
  background-color: var(--color-secondary-1);
}

.itemContainer:active {
  background-color: var(--color-secondary-2);
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.login {
  font-size: 14px;
  font-weight: 500;
}

.name {
  color: var(--color-text-2);
  font-size: 12px;
  font-weight: 500;
}