.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.avatarContainer {
  width: 300px;
  height: 300px;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
}

.followersContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.additionalContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.additionalItemContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userInfoIcon {
  width: 18px;
  height: 18px;
  fill: var(--color-text-2);
}
