:root {
  --color-primary-1: #2f81f7;
  --color-primary-2: #121d2f;
}

body.dark {
  --color-background-1: #010409;
  --color-background-2: #0d1117;
  --color-background-3: #161b22;
  --color-background-4: #24282e;
  --color-secondary-1: #21262d;
  --color-secondary-2: #2d3139;
  --color-secondary-3: #30363d;
  --color-text-2: #8b949e;
  --color-text-1: #e6edf3;
}

body.light {
  --color-background-1: #f6f8fa;
  --color-background-2: #fff;
  --color-background-3: #eaedf1;
  --color-background-4: #e4e8ec;
  --color-secondary-1: #ebecf0;
  --color-secondary-2: #e9ecef;
  --color-secondary-3: #d0d7de;
  --color-text-2: #6e7781;
  --color-text-1: #1f2328;
}
