body.dark {
  --color-background-1: #010409;
  --color-background-2: #0D1117;
  --color-background-3: #161B22;
  --color-background-4: #24282E;
  --color-primary-1: #2F81F7;
  --color-secondary-1: #21262D;
  --color-secondary-2: #2D3139;
  --color-secondary-3: #30363D;
  --color-text-2: #8B949E;
  --color-text-1: #E6EDF3;
}
